#menulinks { background: #000; padding: 10px 10px; position: fixed;  box-shadow: 0px 0.1px 20px 0 blue, 0.1px 0.1px 15px 0.1px #121314; width: 210px; margin: 20px 20px; border-radius: 10px;}
#menulinks a { display: block; color: #fff; font-size: 20px; padding: 6px 10px;}
#menubar button { background: none; font-size: 20px; text-align: center;}
dialog { margin: 50% auto; background: #000; color: rgb(30, 300, 100); width: 200px; font-size: 13px; padding: 10px 20px; border: none;}
dialog .dleft { margin-left: 20%;}
#drow { display: flex;}
dialog p { margin: 20px 2px; }
dialog .dleft button { font-size: 20px;}
header h1 { font-size: 26px;}
.headermain { text-align: center; margin: 20px 1px;}
header p { font-size: 25px; margin-top: 5px;}
.tabs { background: #000; margin: 10px 2px; border-radius: 10px; padding: 8px 5px; box-shadow: 0.1px 0.1px 20px 0 red, 0.1px 0.1px 10px 0 #656565;}
.tabs button { padding: 5px 20px; box-shadow: 0.1px 0.1px 20px blue;}
#mainhome { padding: 5px 3px; text-align: center;}
#mainhome h2 { font-size: 28px; margin: 6px 0;}
.clock { background: #000; color: #fff; padding: 10px 10px; width: 60%; text-align: center; margin: 10px auto; box-shadow: 4px 4px 10px green;}
.clock #time { font-size: 40px;}
.clock #greting { background: rgb(10, 39, 60); font-size: 12px;}
.clock #date { font-size: 20px;}
.clock p { margin: 20px 0; box-shadow: 2px 2px 10px red;}
dialog::backdrop { background: rgb(0, 60, 30);}
.intro { text-align: left;}
.intro p { margin: 20px 20px; font-size: 1.3rem;}
#fit { background: #fff; color: #000; position: fixed; top: 93%; padding: 10px 10px; width: 100%;}